@import '../styles/global.scss';

.dark{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: #1f1f1f73;
}

.cart{
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    min-height: 500px;
    height: 100%;
    max-height: 500px;
    border-radius: 16px;
}

.header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $light-orange;
    border-radius: 16px 16px 0 0;
    span{
        font-family: 'Playball', cursive;
        font-size: 2rem;
        color: black;
    }
}

.close{
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.OrderContainer{
    box-sizing: border-box;
    width: 100%;
    height: 325px;
    padding: 10px;
}

.order{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.orderInfo{
    display: flex;
    justify-content: space-around;
    width: 300px;
    font-size: 1.3rem;
    p{
        margin: 0;
    }
}
.orderTitle{
    font-weight: bold;
}

.orderRemove{
    @include button(100px, 25px);
    font-size: 0.8rem;
    background-color: #BC0000;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    background-color: $light-orange;
    border-radius: 0 0 16px 16px;
    box-sizing: border-box;
    padding: 10px 0;
}

.flexTotal{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
}

.button{
    @include button(100px, 33px);
    margin: 0 auto;
    background-color: $blue;
    font-size: 1rem;
    border-radius: 5px;
}

@media (min-width: 500px){
    .OrderContainer{
        height: 475px;
    }
    
    .cart{
        max-height: 700px;
    }
    .footer{
        height: 175px;
    }
    .flexTotal{
        font-size: 1.3rem;
    }
    .button{
        @include button(150px, 50px);
        background-color: $blue;
    }
    .orderInfo{
        width: 400px;
    }
    .orderRemove{
        @include button(125px, 30px);
        font-size: 1rem;
        background-color: #BC0000;
    }
}