@import url('https://fonts.googleapis.com/css?family=Playball|Raleway:400,500,700');

$light-orange: #FFB300;
$dark-orange: #FF7300;
$blue: #0033ff;

html{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
body{
    min-height: 100vh;
    height: 100%;
    background-image: url('../images/wallpaper.jpg');
    background-attachment: fixed;
}

@media (min-width: 1981px){
    html{
        font-size: 27px;
        background-size: cover;
    }
}