@import url('https://fonts.googleapis.com/css?family=Playball|Raleway:400,500,700');

$light-orange: #FFB300;
$dark-orange: #FF7300;
$blue: #0033ff;

@mixin button($width, $height, $font-weight: 500) {
    display: block;
    width: $width;
    height: $height;
    background-color: $dark-orange;
    font-weight: $font-weight;
    font-size: 1.3rem;
    color: white;
    border: 0;
    cursor: pointer;

}

%content{
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 65px; // size of navbar
}

%title{
    font-family: 'Playball', cursive;
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
    color: white;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    height: 100%;
}
body{
    height: 100%;
    background-image: url('../images/wallpaper.jpg');
    background-attachment: fixed;
}

@media (min-width: 1981px){
    html{
        font-size: 27px;
    }
    body{
        background-size: cover;
    }
}

@media(max-width: 500px){
    body{
        background-attachment: initial;
    }
}