@import '../styles/global.scss';

.hotDeals{
    background-color: $light-orange;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
}

.hotDealsTitle{
    font-family: 'Playball', cursive;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.dealsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin: 0 auto;
}

.deal{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 20px 0;
}

.dealImg{
    width: 136px;
    height: 136px;
}
.dealInfo{
    max-width: 400px;
    width: 100%;
    height: fit-content;
    margin-left: 10px;
}
.dealTitle{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
}
.dealDesc{
    margin: 10px 0;
    font-weight: normal;
    font-size: 1.2rem;
}
.dealStat{
    display: flex;
}

.dealPriceContainer{
    display: flex;
    width: fit-content;
}
.dealPrice{
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 5px;
}
.dealButton{
    width: fit-content;
    height: 30px;
    background-color: $blue;
    color: white;
    font-weight: bold;
    border: 1px solid $dark-orange;
    border-radius: 3px;
    margin: 0 5px;
    transition: 0.5s;
    &:hover{
        background: $blue;
        color: white;
        cursor: pointer;
    }
}

@media (min-width: 1981px){
    .dealsContainer{
        max-width: 1800px;
    }
    .dealInfo{
        max-width: 700px;
    }
    .dealButton{
        border-radius: 6px;
        height: 50px;
    }
}

@media (max-width: 1110px){
    .dealsContainer{
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 400px){
    .deal{
        flex-direction: column;
        margin: 35px 0;
    }
    .dealTitle{
        text-align: center;
    }
    .dealInfo{
        margin: 0;
    }
    .dealDesc{
        text-align: center;
    }
    .dealPriceContainer{
        flex-direction: column;
        margin: 0 auto;
    }
    .dealPrice{
        text-align: center;
        margin: 5px 0;
    }
    .dealButton{
        margin: 5px 0;
    }
}