@import '../styles/global.scss';

.content{
    position: absolute;
    width: 100%;
    height: 100%;
}

.title{
    font-family: 'Playball', cursive;
    font-size: 4rem;
    font-weight: normal;
    text-align: center;
    color: white;
    margin: 50px 0 0 0;
}

.tabContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: fit-content;
    margin: 20px auto;
}

$tab-width: 175px;
.tab{
    width: $tab-width;
    height: 55px;
    background: transparent;
    border: 1px solid $light-orange;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: 500ms;
    &:hover{
        background: $light-orange;
    }
    &.active{
        background: $light-orange;
        cursor: default;
    }
}

@media (max-width: 900px){
    .tabContainer{
        width: $tab-width * 4;
    }
}

@media (max-width: 725px){
    .tabContainer{
        width: $tab-width * 3;
    }
}

@media (max-width: 550px){
    .tabContainer{
        width: $tab-width * 2;
    }
}

@media (max-width: 360px){
    .tab{
        width: 125px;
        font-size: 1.6rem;
    }
    .tabContainer{
        width: 125px * 2;
    }
}