@import '../styles/global.scss';

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 675px;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 75px;
    margin: 0 auto;
}

.button{
    @include button(200px, 38px, bold);
    border-radius: 5px;
    transition: 300ms;
    flex-shrink: 0;
    &:hover{
        background-color: rgb(173, 78, 0);
    }
}

.map{
    width: 100%;
    max-width: 900px;
    height: 600px;
    margin: 0 auto;
    flex: 1;
}

.marker{
    position: relative;
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: -50px;
    &::before{
        content: ' ';
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    &::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 50px solid black;
    }
}

@media(min-width: 1981px){
    .flexContainer{
        max-width: 900px * 1.5;
    }
    .map{
        margin-top: 30px;
        max-width: 900px * 1.5;
    }
    .content{
        margin-top: 50px;
        max-height: 1000px;
    }
    .button{
        width: 300px;
        height: 68px;
    }
}