
.flexContainer{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 70px auto 0 auto;
}

.accountPerks{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 650px;
    justify-content: space-between;
}

.perk{
    width: fit-content;
    height: fit-content;
}

.perkImg{
    display: block;
    width: 127px;
    height: 127px;
    margin: 0 auto;
}

.perkText{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0 0 0;
    text-align: center;
}

@media (min-width: 1981px){
    .flexContainer{
        max-width: 1500px;
    }
}

@media (max-width: 1025px){
    .flexContainer{
        flex-direction: column;
    }
    .accountPerks{
        flex-direction: row;
        width: 100%;
        max-width: 900px;
        height: fit-content;
        margin: 0 auto;
    }
    
}

@media (max-width: 630px){
    .accountPerks{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}

@media (max-width: 570px){
    .perkText{
        font-size: 1.5rem;
    } 
}