@import '../styles/global.scss';

$Width: 540px;

.SignUp{
    width: $Width;
    background-color: white;
    border-radius: 16px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: $light-orange;
    border-radius: 16px 16px 0 0;
}

.headerText{
    font-family: 'Playball', cursive;
    font-size: 3rem;
    color: black;
}

.view{
    width: $Width;
    height: fit-content;
    overflow: hidden;
}

.form{
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    transition: 1s;
}

.formBlock{
    width: $Width;
    box-sizing: border-box;
    padding: 0 20px;
}

.inputContainer{
    margin-top: 15px;
    height: 90px;
}

.input{
    width: 100%;
    height: 45px;
    border: 1px solid gray;
    border-radius: 6px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.error{
    color: red;
    margin-bottom: 0;
}

.controllerContainer{
    display: flex;
    justify-content: space-between;
    width: 65px;
    margin: 0 auto;
}

.controller{
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &.defualt{
        background-color: gray;
    }
    &.active{
        background-color: $dark-orange;
    }
    &.visted{
        background-color: rgba(255, 115, 0, 0.5);
    }
}
.buttonContainer{
    display: flex;
    width: 250px;
    justify-content: space-around;
    margin: 10px auto 0 auto;
}

.button{
    width: 110px;
    height: 40px;
    background-color: $dark-orange;
    color: white;
    border: 0;
    cursor: pointer;
}